body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}


#formulario-producto {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#formulario-producto label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#formulario-producto input[type="text"],
#formulario-producto input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #007bff;
    border-radius: 0;
    transition: border-color 0.3s;
}

#formulario-producto button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#formulario-producto button[type="submit"]:hover {
    background-color: #0056b3;
}


#lista-productos {
    margin-top: 20px;
}

.producto-item {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.producto-item p {
    margin: 0;
}

.producto-item button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.producto-item button:hover {
    background-color: #ff3b25;
}


#contenedor-formulario-edicion {
    display: none;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#formulario-editar-producto label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#formulario-editar-producto input[type="text"],
#formulario-editar-producto input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #28a745;
    border-radius: 0;
    transition: border-color 0.3s;
}

#formulario-editar-producto button[type="submit"] {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#formulario-editar-producto button[type="submit"]:hover {
    background-color: #1e874b;
}
